<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>J'Pyrdy!</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" media="screen" href="../static/bootstrap/bootstrap.min.css" />
    <link rel="stylesheet" type="text/css" media="screen" href="../static/main.css" />
    <script src="https://code.jquery.com/jquery-3.3.1.js" integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60=" crossorigin="anonymous"></script>
</head>
<body>
    <nav>
        <ul>
            <li>
                <a href="{{ url_for('index') }}">Home Page</a>
            </li>
            <li>
                <a href="{{ url_for('leader_board') }}">Leader Board</a>
            </li>
        </ul>
    </nav>
{% block content %}
{% endblock %}
<div id="result-panel" class="modal fade" role="dialog" data-keyboard="false">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body">
                <div class='result'></div>
                <button type="button" class="btn btn-secondary continue" data-dismiss="modal">Continue Game</button>
            </div>
        </div>
    </div>
</div>

<script>
$(window).on('load',function(){
    var result = "{{result}}";
    var resultText;
    //todo: add player score increase or decrease to result panel
        // will need access to session - player[current player]
    if (result != "") {
        if (result == 'True') {
            resultText = "Congratulations! That\'s correct!";
        } else if (result == 'False') {
            resultText = "Sorry! That was incorrect, better luck next time!";
        }
        $('.result').append(document.createTextNode(resultText));
        $('#result-panel').modal('show');
    }
    $('#result-panel').on('hidden.bs.modal', function () {
            $('.result').empty();

        });
});

</script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
<script src="../static/bootstrap/bootstrap.min.js"></script>
</body>
</html>