{% extends 'base.html' %}
{% block content %}
<div class="board">
    {% for cat in session['categories'] %}
    <div class="category">
        <div class="category_header">{{cat['title']}}</div>
        {% for clue in cat['clues']%}
        <button id="{{clue['id']}}" class="clue" question="{{clue['question']}}" answer="{{clue['answer']}}" category="{{cat['title']}}">{{clue['value']}}</button>
        {% endfor %}
    </div>
    {%endfor%}
    <div class="game-scores">
        {% for player in session['players'] %}
        <div class="name">{{player['name']}}</div>
        <div id ="number{{player['number']}}" class= "score">{{player['score']}}</div>
        {% endfor %}
    </div>

    <div id="question-panel" class="modal fade" role="dialog" data-keyboard="false"> 
        <div class="modal-dialog">  
            <div class = "modal-content">
                <div class="modal-body">  
                    <form id="question-form" action = "{{url_for('submit_answer')}}" method="post">
                        <div class="question"></div>
                        <input type="hidden" id="value" name="value"/>
                        <input type="hidden" id="clueId" name="clueId"/>
                        <input type="hidden" id="clueAnswer" name="clueAnswer"/>
                        <input type="text" class="answer_input" name="pAnswer"/>
                        <!-- <input type="submit" class="submit" value="SUBMIT"/> -->
                        <input type="submit">
                    </form>
                </div>
            </div>     
        </div>         
    </div>

    <div id="result-panel" class="modal fade" role="dialog" data-keyboard="false"> 
        <div class="modal-dialog">  
            <div class = "modal-content">
                <div class="modal-body">  
                    <div class='result'></div>

                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Continue Game</button>
                </div>
            </div>     
        </div>         
    </div>

</div>

<script type="text/javascript">
    $(document).ready(function(){
        console.log('players', '{{session["players"]}}');
        $('.clue').click(function(e){
            let clue = e.target;
            let id = clue.attributes.id.value;
            let question = clue.attributes.question.value;
            let answer = clue.attributes.answer.value;
            let clueValue = clue.innerText;
            $('#clueAnswer').val(answer);
            $('#clueId').val(id);
            $('#value').val(clueValue);
            $('.question').append(document.createTextNode(question));
            $('#question-panel').modal({show:true});
            $('#'+id).prop('disabled', true);
        });
        $('#question-panel').on('hidden.bs.modal', function () {
            $('.question').empty();
        });
        $('#result-panel').on('hidden.bs.modal', function () {
            $('.result').empty();
        });
    });
    $('#question-form').on('submit', function(e){
        console.log(document.getElementsByClassName('answer_input')[0].value);
        // let clueValue = $('.question').attr('data-clueValue');
        // let clueAnswer = $('.question').attr('data-answer');
        // let pAnswer = $('.answer_input').val();
        // let category = $('.question').attr('data-category');
        // e.preventDefault();
        // $.ajax({
        //     url: "{{url_for('submit_answer')}}",
        //     data: {'value':clueValue,
        //            'clueAnswer':clueAnswer,
        //            'pAnswer':pAnswer,
        //            'category': category},
        //     method:'POST',
        //         success: function(data){
                    
        //             if(data['result']==true){
        //                 var result = 'That\'s Correct! Congratulations';
        //             }else{
        //                 var result = 'Sorry that\'s incorrect!';
        //             }
        //             $('.result').append(document.createTextNode(result));
        //             $('#result-panel').modal('show');
        //             $('#number' + data['player']).text(data['score']);
        //             // console.log('players', '{{session["players"]}}');
        //             //take result data from server
        //             //display in modal
        //             //update player score
        //             //enable next button - to close modal and move on
        //         }
        //     });
        $('#question-panel').modal('hide');
        $('#question-form')[0].reset();
    });
    

    
</script>
{% endblock %}