{% extends 'base.html' %}
{% block content %}
<div class="board">
    {% for cat in session['categories'] %}
    <div class="category">
        <div class="category_header">{{cat['title']}}</div>
        {% for clue in cat['clues']%}
        <button id="{{clue['id']}}" class="clue" question="{{clue['question']}}" answer="{{clue['answer']}}" category="{{cat['title']}}">{{clue['value']}}</button>
        {% endfor %}
    </div>
    {%endfor%}
    <div class="game-scores">
        {% for player in session['players'] %}
        <div class="name">{{player['name']}}</div>
        <div id ="number{{player['number']}}" class= "score">{{player['score']}}</div>
        {% endfor %}
    </div>

    <div id="question-panel" class="modal fade" role="dialog" data-keyboard="false"> 
        <div class="modal-dialog">  
            <div class = "modal-content">
                <div class="modal-body">  
                    <form id="question-form" action = "{{url_for('submit_answer')}}" method="post">
                        <div class="question"></div>
                        <input type="text" class="answer_input" name="pAnswer"/>
                        <input type="hidden" id="value" name="value"/>
                        <input type="hidden" id="clueId" name="clueId"/>
                        <input type="hidden" id="clueAnswer" name="clueAnswer"/>
                        <!-- <input type="submit" class="submit" value="SUBMIT"/> -->
                        <button type="submit">submit</button> 
                    </form>
                </div>
            </div>     
        </div>         
    </div>

    <div id="result-panel" class="modal fade" role="dialog" data-keyboard="false"> 
        <div class="modal-dialog">  
            <div class = "modal-content">
                <div class="modal-body">  
                    <div class='result'></div>

                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Continue Game</button>
                </div>
            </div>     
        </div>         
    </div>

</div>

<script type="text/javascript">
    $(document).ready(function(){
        console.log('players', '{{session["players"]}}');
        $('.clue').click(function(e){
            let clue = e.target;
            let id = clue.attributes.id.value;
            let question = clue.attributes.question.value;
            let answer = clue.attributes.answer.value;
            let clueValue = clue.innerText;
            $('#clueAnswer').val(answer);
            $('#clueId').val(id);
            $('#value').val(clueValue);
            $('.question').append(document.createTextNode(question));
            $('#question-panel').modal({show:true});
            $('#'+id).prop('disabled', true);
        });
        $('#question-panel').on('hidden.bs.modal', function () {
            $('.question').empty();
        });
        $('#result-panel').on('hidden.bs.modal', function () {
            $('.result').empty();
        });
    });
    $('#question-form').on('submit', function(e){      
        $('#question-panel').modal('hide');
      });
    

    
</script>
{% endblock %}