{% extends 'base.html' %}
{% block content %}
<div class="welcome">
    <h1>Welcome to J'Pyrdy!</h1>
    <p>J'Pyrdy! is an online emulation of the U.S. television quiz show Jeopardy! It was developed using the python programming
        language and makes use of the
        <a href="http://www.jservice.io">jService api</a> which feeds the application with over 150,000 trivia questions
        from the popular game show.</p>
</div>
<div class="play_game">

    <form id="player_input" action="">
        <p>Choose Number of Players</p>
        <select id="number_players" name="number_players">
                <option selected>One</option>
                <option>Two</option>
                <option>Three</option>
        </select><span> 1 - 3 people can play at a time </span>
        <p>Enter the names of each player</p>
        <p id="player1">
            <label for="player1_name">Player One: </label>
            <input id="player1_name" type="text" length="10">
        </p>
        <p id="player2">
            <label for="player2_name">Player Two: </label>
            <input id="player2_name" type="text" length="10">
        </p>
        <p id="player3">
            <label for="player2_name">Player Three: </label>
            <input id="player2_name" type="text" length="10">
        </p>
        <a href="{{url_for('game')}}"><strong>PLAY J'PYRDY!</strong></a>
    </form>
</div>

{% endblock %}