{% extends 'base.html' %}
{% block content %}
<div id="header">Game Summary Page</div>
<div id="summary"></div>

<div class="game-scores">
    {% for player in session['players'] %}
    <div class="name">{{player['name']}}</div>
    <div id="number{{player['number']}}" class="score">{{player['score']}}</div>
    {% endfor %}
</div>
<!-- make text for this link dynamic depending on stage of game ----- use "{{thisRound}}" from route -->
<a class="button" href="{{url_for('initRound')}}">Next Round</a> 
<script type="text/javascript">
var round = "{{thisRound}}";
    if (round.toLowerCase() =='two'){
        $('#summary').text("<p>{{leaderName}} is in the lead with {{leaderPoints}} points!</p><p>Click the button to continue to round two - Double J'Pyrdy!</p>");
    }else if (round.toLowerCase() =='end'){
        $('#summary').text("<p>{{leader}} has won the game!!</p><p>Go <a href=\"{{url_for('index')}}\">home</a> to play another game!</p>");
        $('.button').hide();
        }
</script>
{% endblock %}