{% extends 'base.html' %}
{% block content %}
<div id="header">Game Summary Page</div>
<div id="summary">Player X is in the lead with X points</div>

<div class="game-scores">
    {% for player in session['players'] %}
    <div class="name">{{player['name']}}</div>
    <div id="number{{player['number']}}" class="score">{{player['score']}}</div>
    {% endfor %}
</div>
<!-- make text for this link dynamic depending on stage of game ----- use "{{thisRound}}" from route -->
<a class="button" href="{{url_for('initRound')}}">Next Round</a> 


<div id="result-panel" class="modal fade" role="dialog" data-keyboard="false">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body">
                <div class='result'></div>
                <button type="button" class="btn btn-secondary continue" data-dismiss="modal">Continue Game</button>
            </div>
        </div>
    </div>
</div>
<script>
$(window).on('load',function(){
    var result = "{{result}}";
    var resultText;
    //todo: add player score increase or decrease to result panel
        // will need access to session - player[current player]
    if (result != "") {
        if (result == 'True') {
            resultText = "Congratulations! That\'s correct!";
        } else if (result == 'False') {
            resultText = "Sorry! That was incorrect, better luck next time!";
        }
        $('.result').append(document.createTextNode(resultText));
        $('#result-panel').modal('show');
    }
    var round = "{{thisRound}}";
    if (round.toLowerCase() =='end'){
        $('.button').hide();
        }
});
</script>

{% endblock %}