{% extends 'base.html' %}
{% block content %}
<div class="header">{{header}}</div>
<div id="summary"></div>

<div class="game-scores-sum">
    {% for player in session['players'] %}
    <div class="names" id="number{{player['number']}}">
        <div class="name">{{player['name']}}</div>
        <div class="score">{{player['score']}}</div>
    </div>
    {% endfor %}
</div>
<!-- make text for this link dynamic depending on stage of game ----- use "{{thisRound}}" from route -->
<a class="button" href="{{url_for('initRound')}}"><button class="btn">Next Round</button></a> 
<script type="text/javascript">
var round = "{{thisRound}}";
    if (round.toLowerCase() =='two'){
        $('#summary').html("<p><span class=\"sum-name\">{{name}}</span> is in the lead with {{score}} points!</p><p>Click the button to continue to round two - Double J'Pyrdy!</p>");
    }else if (round.toLowerCase() =='end'){
        $('#summary').html("<p><span class=\"sum-name\">{{name}}</span> has won the game with a grand total of {{score}} points!!</p><p>Go <a href=\"{{url_for('index')}}\">home</a> to play another game!</p>");
        $('.button').hide();
        }
</script>
{% endblock %}